h1{
    align-items: center;
    color: rgb(43, 5, 148);
    font-style: italic;
    padding: auto;
    margin-left: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
}
i{
    color:  rgb(43, 5, 148);
}
div{
    text-emphasis-color:  rgb(43, 5, 148);

}