<h2>Activity List</h2>
<table class="table" datatable [dtOptions]="dtOptions">
    <thead>
      <tr>
        <th scope="col">Action</th>
        <th scope="col">#</th>
        <th scope="col">Activity</th>
        <th scope="col">Fram</th>
        <th scope="col">To</th>
        <th scope="col">Date</th>
        <th scope="col">Status</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of todoListData">
        <td>
          <i (click)="deleteTodoList(item.id)" class="fa fa-trash"></i>
        &nbsp;
          <a routerLink="/edit/{{item.id}}"><i class="fa fa-edit"></i></a>
        </td>
        <th scope="row">{{item.id}}</th>
        <td>{{item.Todo}}</td>
        <td>{{item.timeStart}}</td>
        <td>{{item.timeEnd}}</td>
        <td>{{item.date}}</td>
        <td>{{item.status}}</td>
        <td><span></span></td>
        
      </tr>

    </tbody>
  </table>


